@charset 'uft-8';

body {
  font-family: 'Josefin Sans',sans-serif;
}

header {
  background: url(../img/drink.jpg) no-repeat center/cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  font-size: 2rem;
  margin-left: 10px;
  font-weight: bold;
}

p {
  font-family: 'Yomogi', cursive;
}

.date {
  margin-top: 5px;
  background: #e91e631a;
  display: inline-block;
}

main {
  padding: 30px 10px;
}

h2 {
  font-size: 1.3rem;
}

section {
  margin-top: 50px;
  position: relative;
}

section img {
  opacity: .5;
  display: block;
  margin: 0 auto;
  width: 30%;
}

#btn,
#btn02,
#btn03,
#btn04 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 70%;
}

span#menu {
  margin-top: 30px;
  display: inline-block;
}

span#menu02 {
  margin-top: 30px;
  display: inline-block;
}

span#menu03 {
  margin-top: 30px;
  display: inline-block;
}

span#menu04 {
  margin-top: 30px;
  display: inline-block;
}


.fm::after {
  content: '- 関東のメニューです -';
  font-size: .8rem;
  margin-left: 10px;
}

.se::after {
  content: '- 千葉県のメニューです -';
  font-size: .8rem;
  margin-left: 10px;
}

/*========= main背景色の変化CSS ===============*/

main {
	width: 100%;
  height: 100vh;
	background:linear-gradient(45deg, #fffde7,#e91e6317,#fff8e1);/*グラデーションを定義*/
	animation: bggradient 20s ease infinite;
}

@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* 600px以上の画面 */
@media (min-width:600px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  section {
    width: 45%;
  }
  header {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .date {
    margin-bottom: 80px;
  }
}

/* 1200px以上の画面 */
@media (min-width:1200px) {
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: 50px;
  }
  header {
    padding-top: 250px;
    padding-bottom: 250px;
  }
  main {
    padding-left: 50px;
    padding-top: 100px;
  }
  .info {
    margin-top: -200px;
  }
}